In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from IPython.display import display

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1373,tt0427944,6500000,24793509,Thank You for Smoking,Aaron Eckhart|Maria Bello|Cameron Bright|Adam ...,Jason Reitman,Tobacco lobbyist Nick Naylor is trying to SAVE...,The chief spokesperson and lobbyist Nick Naylo...,92,Comedy|Drama,Fox Searchlight Pictures|Room 9 Entertainment,9/5/2005,7.1,2005
601,tt0371746,140000000,585174222,Iron Man,Robert Downey Jr.|Terrence Howard|Jeff Bridges...,Jon Favreau,Heroes aren't born. They're built.,"After being held captive in an Afghan cave, bi...",126,Action|Science Fiction|Adventure,Marvel Studios,4/30/2008,7.3,2008
1328,tt0397535,85000000,162242962,Memoirs of a Geisha,Zhang Ziyi|Gong Li|Youki Kudoh|Tsai Chin|Suzuk...,Rob Marshall,My world is as forbidden as it is fragile; wit...,A sweeping romantic epic set in Japan in the y...,145,Drama|History|Romance,DreamWorks SKG|Spyglass Entertainment|Columbia...,12/6/2005,7.1,2005
1872,tt0134983,90000000,14828081,Supernova,James Spader|Angela Bassett|Robert Forster|Lou...,Walter Hill|Jack Sholder,"In the farthest reaches of space, something ha...","Set in the 22nd century, when a battered salva...",91,Science Fiction,United Artists|Metro-Goldwyn-Mayer (MGM)|Hamme...,1/14/2000,4.7,2000
1538,tt0452624,32000000,5914908,The Good German,George Clooney|Cate Blanchett|Tobey Maguire|To...,Steven Soderbergh,"If war is Hell, then what comes after?",An American journalist played by George Cloone...,108,War|Crime|Drama|Mystery|Romance,Warner Bros.|Section Eight Productions|Sunset ...,12/8/2006,5.8,2006

# Предобработка

In [3]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
import datetime as dt
data.release_date=data.release_date.apply(lambda s: dt.datetime.strptime(s, "%m/%d/%Y"))

# Как указано в задаче 6, заведем отдельный столбец для profit = revenue - budget
data['profit']=data['revenue']-data['budget']

# Длина названия для 24 задания
data['title_length']=data.original_title.apply(lambda s: len(s))

# Количество слов в описании для 25 задания
data['overview_words']=data.overview.apply(lambda s: len(s.split()))

# Нормализуем хранение информации путем вынесения в отдельные таблицы значения полей,
# содержащих списки, разделенные '|', и фигурирующих в вопросах викторины.

# Создаем пустые таблицы, на которые data будет ссылаться по imdb_id:
genres = pd.DataFrame(columns=['imdb_id','genre'])
directors = pd.DataFrame(columns=['imdb_id','dir'])
actors = pd.DataFrame(columns=['imdb_id','actor'])
companies = pd.DataFrame(columns=['imdb_id','company'])

# В цикле по строкам data наполняем созданные таблицы:
for index, row in data.iterrows():
    
    step_g = pd.DataFrame(str.split(row.genres,sep='|'),columns=['genre'])
    step_g['imdb_id']=row['imdb_id']
    genres = genres.append(step_g)
    
    step_d = pd.DataFrame(str.split(row.director,sep='|'),columns=['dir'])
    step_d['imdb_id']=row['imdb_id']
    directors = directors.append(step_d)
    
    step_a = pd.DataFrame(str.split(row.cast,sep='|'),columns=['actor'])
    step_a['imdb_id']=row['imdb_id']
    actors = actors.append(step_a)
    
    step_c = pd.DataFrame(str.split(row.production_companies,sep='|'),columns=['company'])
    step_c['imdb_id']=row['imdb_id']
    companies = companies.append(step_c)
    
data.info()
genres.info()
directors.info()
actors.info()
companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 17 columns):
imdb_id                 1889 non-null object
budget                  1889 non-null int64
revenue                 1889 non-null int64
original_title          1889 non-null object
cast                    1889 non-null object
director                1889 non-null object
tagline                 1889 non-null object
overview                1889 non-null object
runtime                 1889 non-null int64
genres                  1889 non-null object
production_companies    1889 non-null object
release_date            1889 non-null datetime64[ns]
vote_average            1889 non-null float64
release_year            1889 non-null int64
profit                  1889 non-null int64
title_length            1889 non-null int64
overview_words          1889 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(7), object(8)
memory usage: 251.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5107 entries, 0 to 0
Data columns (total 2 columns):
genre      5107 non-null object
imdb_id    5107 non-null object
dtypes: object(2)
memory usage: 119.7+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2053 entries, 0 to 0
Data columns (total 2 columns):
dir        2053 non-null object
imdb_id    2053 non-null object
dtypes: object(2)
memory usage: 48.1+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 9438 entries, 0 to 4
Data columns (total 2 columns):
actor      9438 non-null object
imdb_id    9438 non-null object
dtypes: object(2)
memory usage: 221.2+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6078 entries, 0 to 0
Data columns (total 2 columns):
company    6078 non-null object
imdb_id    6078 non-null object
dtypes: object(2)
memory usage: 142.5+ KB

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [39]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers[1] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [5]:
# тут пишем ваш код для решения данного вопроса:
data.sort_values(by=['budget'], ascending=False).iloc[0][['original_title','imdb_id']]

original_title    Pirates of the Caribbean: On Stranger Tides
imdb_id                                             tt1298650
Name: 723, dtype: object

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [6]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [7]:
data.sort_values(by=['runtime'], ascending=False).iloc[0][['original_title','imdb_id']]

original_title    Gods and Generals
imdb_id                   tt0279111
Name: 1157, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [8]:
answers['3'] = 'Winnie the Pooh (tt1449283)'
data.sort_values(by=['runtime']).iloc[0][['original_title','imdb_id']]

original_title    Winnie the Pooh
imdb_id                 tt1449283
Name: 768, dtype: object

# 4. Какова средняя длительность фильмов?

In [9]:
answers['4'] = round(data.runtime.mean())
answers['4']

110

# 5. Каково медианное значение длительности фильмов?

In [10]:
answers['5'] = round(data.runtime.median())
answers['5']

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [11]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = 'Avatar (tt0499549)'
data.sort_values(by=['profit'], ascending=False).iloc[0][['original_title','imdb_id']]

original_title       Avatar
imdb_id           tt0499549
Name: 239, dtype: object

# 7. Какой фильм самый убыточный?

In [12]:
answers['7'] = 'The Lone Ranger (tt1210819)'
data.sort_values(by=['profit']).iloc[0][['original_title','imdb_id']]

original_title    The Lone Ranger
imdb_id                 tt1210819
Name: 1245, dtype: object

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [13]:
answers['8'] = len(data[data.profit > 0])
answers['8']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [14]:
answers['9'] = 'The Dark Knight (tt0468569)'
data[data.release_year==2008].sort_values(by=['revenue'], ascending=False).iloc[0][['original_title','imdb_id']]

original_title    The Dark Knight
imdb_id                 tt0468569
Name: 599, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [15]:
answers['10'] = 'The Lone Ranger (tt1210819)'
data[(data.release_year>=2012) & (data.release_year<=2014)].sort_values(by=['profit']).iloc[0][['original_title','imdb_id']]

original_title    The Lone Ranger
imdb_id                 tt1210819
Name: 1245, dtype: object

# 11. Какого жанра фильмов больше всего?

In [16]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = 'Drama'
data.merge(genres,on='imdb_id',how='inner').groupby('genre').count().sort_values('imdb_id',ascending=False).index[0]

'Drama'

ВАРИАНТ 2

In [17]:
data_tmp=data['genres'].str.cat(sep='|') # превращаем все в одну строку
data_tmp=pd.Series(data_tmp.split('|')) # создаем список разделяя строку по '|'
data_tmp=data_tmp.value_counts(ascending=False) # считаем количество элементов строке
data_tmp.index[0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [18]:
answers['12'] = 'Drama'
data[data.profit>0].merge(genres,on='imdb_id',how='inner') \
    .groupby('genre').count().sort_values('imdb_id',ascending=False).index[0]

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [19]:
answers['13'] = 'Peter Jackson'
data.merge(directors,on='imdb_id',how='inner').groupby('dir').revenue.sum().sort_values(ascending=False).index[0]

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [20]:
answers['14'] = 'Robert Rodriguez'
data[data.genres.str.contains('Action')].merge(directors,on='imdb_id',how='inner') \
    .groupby('dir').imdb_id.count().sort_values(ascending=False).index[0]

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [21]:
answers['15'] = 'Chris Hemsworth'
data[data.release_year==2012].merge(actors,on='imdb_id',how='inner') \
    .groupby('actor').revenue.sum().sort_values(ascending=False).index[0]

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [22]:
answers['16'] = 'Matt Damon'
data[data['budget']>data['budget'].mean()].merge(actors,on='imdb_id',how='inner') \
    .groupby('actor').imdb_id.count().sort_values(ascending=False).index[0]

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [23]:
answers['17'] = 'Action'
data[data.cast.str.contains('Nicolas Cage')].merge(genres,on='imdb_id',how='inner') \
    .groupby('genre').imdb_id.count().sort_values(ascending=False).index[0]

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [46]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'
data[data.production_companies.str.contains('Paramount Pictures')].sort_values(by=['profit']) \
    .iloc[0][['original_title','imdb_id']]

original_title    K-19: The Widowmaker
imdb_id                      tt0267626
Name: 925, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [48]:
answers['19'] = 2015
data.groupby('release_year').revenue.sum().sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [49]:
answers['20'] = 2014
data[data.production_companies.str.contains('Warner Bros')].groupby('release_year') \
    .profit.sum().sort_values(ascending=False).index[0]

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [27]:
answers['21'] = 'Сентябрь'
data.groupby(data['release_date'].dt.strftime('%B')).imdb_id.count().sort_values(ascending = False).index[0]

'September'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [50]:
answers['22'] = 450
data[data['release_date'].dt.strftime('%m').isin(['06','07','08'])].imdb_id.count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [29]:
answers['23'] = 'Peter Jackson'
data[data['release_date'].dt.strftime('%m').isin(['12','01','02'])].merge(directors,on='imdb_id',how='inner') \
    .groupby('dir').imdb_id.count().sort_values(ascending=False).index[0]

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [30]:
answers['24'] = 'Four By Two Productions'
data.merge(companies,on='imdb_id',how='inner').groupby('company').title_length.mean().sort_values(ascending=False).index[0]

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [41]:
answers['25'] = 'Midnight Picture Show'
data.merge(companies,on='imdb_id',how='inner').groupby('company').overview_words.mean().sort_values(ascending=False).index[0]

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [59]:
# формируем список фильмов (top_1_rating), входящих в 1% лучших по рейтингу
top_1_rating = list(data.sort_values(['vote_average'],ascending=False).head(int(len(data)/100)).original_title)
print(top_1_rating)

# для каждого варианта ответа проверяенм вхождение в top_1_rating
print(1,set(['Inside Out', 'The Dark Knight', '12 Years a Slave']).issubset(top_1_rating))
print(2,set(['BloodRayne', 'The Adventures of Rocky & Bullwinkle']).issubset(top_1_rating))
print(3,set(['Batman Begins', 'The Lord of the Rings: The Return of the King', 'Upside Down']).issubset(top_1_rating))
print(4,set(['300', 'Lucky Number Slevin', 'Kill Bill: Vol. 1']).issubset(top_1_rating))
print(5,set(['Upside Down', 'Inside Out', 'Iron Man']).issubset(top_1_rating))
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

['The Dark Knight', 'Interstellar', 'The Imitation Game', 'Inside Out', 'Room', 'The Wolf of Wall Street', 'Gone Girl', '12 Years a Slave', 'Guardians of the Galaxy', 'The Lord of the Rings: The Return of the King', 'Memento', 'Inception', 'The Pianist', 'The Grand Budapest Hotel', 'Her', 'Spotlight', 'Big Hero 6', 'The Fault in Our Stars']
1 True
2 False
3 False
4 False
5 False

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [82]:
# Дважды связываем фильмы со справочником актеров для получения всевозможных пар актеров
actor_pairs = data.merge(actors,on='imdb_id',how='inner').merge(actors,on='imdb_id',how='inner')

# Находим самую частотную пару. При этом исключаем строки, в которых актер1 = актер2
print(actor_pairs[actor_pairs.actor_x!=actor_pairs.actor_y].groupby(['actor_x','actor_y']) \
      .imdb_id.count().sort_values(ascending=False).index[0])
answers['27'] = 'Daniel Radcliffe & Rupert Grint'

('Rupert Grint', 'Daniel Radcliffe')

# Submission

In [83]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': 2015,
 '2': 'Gods and Generals (tt0279111)',
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 110,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)'}

In [84]:
# и убедиться что ни чего не пропустил)
len(answers)

27